.service-icon img{
    width: 49.32px

}
.service-card p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.52%;
    color: #666C89;
    width: 270px;
}

.solutions h3{
    font-weight: 500;
font-size: 25px;
line-height: 129.7%;
text-transform: capitalize;
color: #1C1F35;
width: 267px;
}






